extends index

block form
    p
        form(method="post" action="/upload" enctype="multipart/form-data")
            div.row
                div.col-lg-6
                    label Select your video
                    div.file.btn.btn-lg
                        input(type="file" name="file")
                    label Upload
                    div.file.btn.btn-lg
                        input(type="submit" name="upload")

        div.row
            div.col-lg-6
                div.form-group
                    label Set time stamps
                    input(type="text", class="form-control", id="timestamps",placeholder="time stamps e.g. 1, 54, 217, ...",style="margin-left:15px;")
        div.row
            div.col-lg-6
                input(type="button" value="Apply" id="setTimestamps" style="margin-left:15px;margin-bottom: 20px;")

    div.row
        div.col-lg-6(id='videoFrame')
            video.media.video(controls muted, width='320', height='240', id='chickenVideo')
                source(src= pathToVideo, type='video/mp4')
        div.col-lg-6.click-box(id='clickBox', onclick='clickEvent();')
            div.click-text(align="center") Click area

    div.row
        div.col-lg-6
            input(type="button" value="get results" id="getResults" style="margin-left:15px;margin-bottom: 20px;")
    div.row
        div.col-lg-6
            input(type="button" value="clear" id="clearResults" style="margin-left:15px;margin-bottom: 20px;")
    div.row
        div.col-lg-6
            div(id="result")

