extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-youtube-play(aria-hidden="true")  #{title}
            p Hello #{name}! Welcome to #{title}
            div.row
                div.col-lg-6(id='videoFrame')
                    video(controls muted, width='320', height='240', id='chickenVideo')
                        source(src='/video/huehner.mp4', type='video/mp4')
                div.col-lg-6.click-box(id='clickBox', onclick='clickEvent();')
                    div.click-text(align="center") Click


