extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-youtube-play(aria-hidden="true")  #{title}
            p Hello #{name}! Welcome to #{title}

            block form


