extends layout

block content
    div.container
        div.jumbotron
            h1
                i.fa.fa-youtube-play(aria-hidden="true")  #{title}
            p Hello #{name}! Welcome to #{title}

            p
                div.row
                    div.col-lg-6
                        label Select your video
                        div.file.btn.btn-lg
                            input(type="file" name="file")

                form(method="post" action="/insertUser")
                    div.row
                        div.col-lg-6
                            div.form-group
                                label Set time stamps
                                input(type="text", class="form-control", id="timestamps",name="timestamps",placeholder="time stamps e.g. 0:01, 0:54, 2:17, ...",required)
                    div.row
                        div.col-lg-6

            div.row
                div.col-lg-6(id='videoFrame')
                    video.media.video(controls muted, width='320', height='240', id='chickenVideo')
                        source(src='/video/huehner.mp4', type='video/mp4')
                div.col-lg-6.click-box(id='clickBox', onclick='clickEvent();')
                    div.click-text(align="center") Click area


