body {
  background-color: #9b0d12;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-santa {
  color: #fff;
  background-color: #9b0d12;
  border-color: #9b0d12;
}

.click-box {
  height: 240px;
  width: 300px;
  background-color: #e0e0e0;
  border-radius: 10px;
  font-size: 180%;
}

.click-text {
  padding: 100px;
}